@model IEnumerable<MathewProject.Models.Cathedral>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Founded
        </th>
        <th>
            National Anthem
        </th>
        <th>
            Diocessan Anthem
        </th>
        <th>
            Papal Anthem
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CathedralName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Founded)
        </td>
        <td>
            @Html.Raw(item.NationalAnthem)
        </td>
        <td>
            @Html.Raw(item.DiocesanAnthem)
        </td>
        <td>
            @Html.Raw(item.PapalAnthem)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CathedralID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CathedralID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CathedralID })
        </td>
    </tr>
}

</table>
