@model MathewProject.Models.Parish

@{
    ViewBag.Title = "Edit" + Model.ParishName;
}
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({ selector: 'textarea', height: 300 });
    $(function () {
        $('#CathedralID, #ParishPriestID').addClass('form-control');
    })
</script>
<h2>Edit @Model.ParishName</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Parish</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ParishID)

        <div class="form-group">
            @Html.LabelFor(model => model.ParishName, "Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ParishName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ParishName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Founded, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Founded, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Founded)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Anthem, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Anthem)
                @Html.ValidationMessageFor(model => model.Anthem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CathedralID, "CathedralID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CathedralID", String.Empty)
                @Html.ValidationMessageFor(model => model.CathedralID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PriestID, "PriestID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PriestID", String.Empty)
                @Html.ValidationMessageFor(model => model.PriestID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
