@model MathewProject.Models.Structure

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Structure</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StructureType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StructureType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StructureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StructureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.st)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.st)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priest.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priest.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StructureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
